 .container{
            display: flex;
            flex-direction: column;
          /* gap: 20px; */
/* flex-wrap: wrap; */
justify-content:space-evenly;
height: 120vh;
border: 2px solid darkkhaki;
border-radius: 5px;
background-image: radial-gradient(yellow,green,orange,black,orangered,blue);
align-items: center;

        }
        .box1{
            width: 40vw;
            height: 115vh;
            border: 2px solid green;
            background-color:white;
            border-radius: 20px;
              text-align: center;
            box-shadow:8px 8px 0 8px green;
          
        }
        .box1:hover{
            transition: 0.3s;
              text-align: center;
              text-align: center;
            box-shadow:8px 8px 0 8px blue;
        }
        .image{
            margin: 0px;
            padding: 80px;
        }
        
        button{
            color:darkcyan;
            background-color:gold;
            width: 10vw;
            border-bottom: solid;
        }
        button:hover{
            transform: 0.3s;
            background: transparent;
            border-radius: 10px;
            font-size: 20px;
            background:yellow;
            box-shadow: 4px 4px 0 4px;
        }

